services:
  python:
    image: test_basic_python/python:1.0
    build: ./python
    container_name: 'test_basic_python-python'
    stdin_open: true
    tty: true
    working_dir: '/tmp/work'
    volumes:
    - ../python:/tmp/work